* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    vertical-align: top;
}
#wrap {
    width: 1000px;
    height: 650px;
    display: flex;
}
li {
    list-style: none;
}

/* aside */
.aside {
    width: 20%;
}
.aside .logo {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
/* nav */
.nav {
    width: 100%;
    height: 550px;
}
.nav > ul > li {
    position: relative;
}
.nav > ul > li > a {
    padding: 20px 10px;
    display: block;
    text-align: center;
    background-color: #58339E;
    color: #fff;
}
.nav > ul > li > a:hover {
    background-color: #A578FC;
}
.nav > ul > li > ul {
    position: absolute;
    right: -200px;
    top: 0px;
    width: 200px;
    background-color: #C7A9FF;
    display: none;
}
.nav > ul > li > ul > li > a {
    padding: 10px;
    display: block;
    color: #fff;
}
.nav > ul > li > ul > li > a:hover {
    background-color: #A578FC;
}
/* main */
.main {
    width: 80%;
}
.main .slider {
    width: 100%;
    height: 350px;
    background-color: #7f96a4;
}
.main .slider img {
    width: 100%;
    height: 350px;
}
.slider {
    width: 100%;
    height: 350px; 
    overflow: hidden; 
}
.sliderWrap {
    display: flex; 
    flex-direction: column; 
    transition: margin-top 0.6s;
}
.slider .sliderWrap .slider {
    margin-bottom: 0;
}
.slider img {
    width: 100%; 
    height: auto; 
}


.main .article {
    width: 100%;
    height: 200px;
    display: flex;
}
.main .article .notice {
    width: 40%;
    height: 200px;
    background-color: #F2EBFF;
}
.main .notice {
    width: 100%;
    padding: 20px 10px;
    background-color: #F2EBFF;
}
.main .notice > div {
    display: flex;
    justify-content: space-between;
    background-color: #212635;
    margin-bottom: 10px;
    padding: 2px 5px;
}
.main .notice > div > a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 3px;
}
.main .notice h3 {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.main .notice li {
    display: flex;
    line-height: 1.5;
    position: relative;
    padding-left: 12px;
}
.main .notice li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 11px;
    border-radius: 50%;
}
.main .notice li a {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main .notice li a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.main .notice li span {
    width: 30%;
    text-align: right;
}
.main .article .gallery {
    width: 30%;
    height: 200px;
    background-color: #E4D7FE;
}
.main .article .gallery {
    padding: 21px 20px;
}
.main .article .gallery h3 {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.main .article .gallery ul {
    display: flex;
    justify-content: space-between;
}
.main .article .gallery > ul > li > a > img {
    width: 100%;
    height: 100%;
}
.main .gallery > div {
    display: flex;
    justify-content: space-between;
    background-color: #212635;
    margin-bottom: 10px;
    padding: 2px 5px 3px;
}
.main .gallery > div > a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 3px;
}
.main .article .link {
    width: 30%;
    height: 200px;
    background-color: #883898;
}
.main .article .link > div {
    width: 70%;
    background-color: #3f3e5599;
    margin-left: 35px;
    margin-top: 60px;
}
.main .article .link {
    background-image: url(../images/link01.jpg);
    text-align: center;
}
.main .article .link a {
    /* background-color: rgba(0, 0, 0.1); */
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 40px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.main .footer {
    width: 100%;
    height: 100px;
    display: flex;
}
.main .footer .f1 {
    width: 20%;
    height: 100px;
    background-color: #4A4D56;
    text-align: center;
    font-weight: 600;
}
.main .footer .f1 h2 {
    font-size: 22px;
    margin-top: 20px;
    color: #B9B9B9;
}
.main .footer .f2 {
    width: 50%;
    height: 100px;
    background-color: #4A4D56;
    text-align: left;
    font-size: 17px;
}
.main .footer .f2 > div {
    margin-top: 12px;
    color: #FFFFFF;
}
.main .footer .f3 {
    width: 30%;
    height: 100px;
    background-color: #4A4D56;
}
.main .footer .f3 select {
    width: 80%;
    height: 30px;
    margin-top: 33px;
    margin-left: 22px;
}