@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
img {
    vertical-align: top;
}

/* wrap */
#wrap {
    width: 100%;
    height: 750px;
}

/* main */
#main {
    /* width: 100%;
    height: calc(100% - 430px);
    display: flex; */
    display: flex;
}
#aside {
    width: 200px;
    height: 650px;
}
#aside .logo {
    width: 200px;
    height: 100px;
}
#aside .logo > h2 {
    padding: 32px 25px;
    background-color: #fff;
}
#aside .nav {
    width: 200px;
    height: 550px;
    background-color: #ffbf8fa3;
}

/* #aside .nav {} */
/* #aside .nav > ul {} */
.nav > ul > li > a {
    display: block;
    padding: 10px;
    background-color: #ffdeb5ed;
    text-align: center;
}
.nav > ul > li > a:hover {
    background-color: #ffc57fed;
}
.nav > ul > li > ul {
    display: none;
}
.nav > ul > li > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    background-color: #FFEEEE;
}
.nav > ul > li > ul > li > a:hover {
    background-color: #FFE8E8;
}
/* #aside .nav > ul > li > ul > li {} */
#aside .nav > ul > li > ul > li > a {
    display: inline-block;
    padding: 10px 0;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    transition: all 0.3s;
}
#aside .nav > ul > li > ul > li > a:hover {
    background-color: #fff1dfed;
}

/* contents */
#contents {
    width: calc(100% - 200px);
    height: 650px;
}
#contents .con1 {
    width: 100%;
    height: 400px;
    display: flex;
}
/* slider */
#slider {
    width: calc(100% - 230px);
    height: 400px;
    overflow: hidden;
}
.sliderWrap .slider {
    width: 100%;
    position: relative;
}
.sliderWrap .slider img {
    width: 100%;
    height: 400px;
}
.sliderWrap .slider span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    padding: 10px 20px;
}
#contents .con1 .banner {
    width: 230px;
    height: 400px;
}
#contents .con2 {
    width: 100%;
    height: 250px;
    display: flex;
}
#contents .con2 .notice {
    width: 50%;
    height: 250px;
    background-color: #ffeede;
    box-sizing: border-box;
}
#contents .con2 .notice {
    padding: 25px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
#contents .con2 .notice h2 {
    margin-bottom: 10px;
    margin-left: 10px;
}
#contents .con2 .notice ul {
    width: 100%;
    height: 100%;
}
#contents .con2 .notice li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#contents .con2 .notice li a {
    font-size: 17px;
    font-weight: 500;
}
#contents .con2 .notice li a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
#contents .con2 .notice li span {
    color: #8c8c8c;
}
#contents .con2 .gallery {
    width: 50%;
    height: 250px;
    background-color: #ffe4cb;
    box-sizing: border-box;
}
#contents .con2 .gallery ul {
    display: flex;
}
#contents .con2 .gallery li {
    padding: 12px;
}
#contents .con2 .gallery li img {
    margin-top: 40px;
}
.popup-btn {
    display: inline-block;
}
.popup-view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #a2a2a2;
    border: 3px solid #000;
    z-index: 1000;
    display: none;
} 
.popup-close {
    background-color: #fff;
    padding: 10px;
    display: inline-block;
}

#footer {
    width: 100%;
    height: 100px;
    display: flex;
    box-sizing: border-box;
}
#footer .f1 {
    /* width: calc(100% - 900px); */
    width: 20%;
    height: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px; */
}
#footer .f1 > h2 {
    text-align: center;
    margin-top: 33px;
    background-color: #fff;
}
#footer .f2 {
    width: 60%;
    height: 100px;
    background-color: #ffe7ae;
    text-align: center;
}
#footer .f2 > div {
    padding: 40px;
}
#footer .f3 {
    width: 20%;
    height: 100px;
    background-color: #ffefcb;
}
#footer .f3 select {
    width: 100%;
    height: 40px;
}
#footer .f3 > div {
    padding: 32px;
}