/* header__wrap */
.header__wrap {
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #ccc;
}
.header__logo {
  width: 15%;
}
.header__menu {
  width: 70%;
  text-align: center;
}
.header__menu li {
  display: inline-block;
}
.header__menu li a {
  display: inline-block;
  padding: 10px 30px;
}
.header__member {
  width: 15%;
  text-align: right;
}
.header__member a {
  border: 1px solid #000;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 16px;
}
