<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃3</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        #wrap {
        }
        #header {}
        #nav {}
        #aside {}
        #section {}
        #article {}
        #footer {}
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <nav id="nav"></nav>
        <aside id="aside"></aside>
        <section id="section"></section>
        <article id="article"></article>
        <footer id="footer"></footer>
    </div>
</body>
</html>