// member__wrap
.member__wrap {}
.member__inner {
    @include flex-between;

    .member {
        width: 32%;
        position: relative;
        // border: 2px solid var(--color_body);

        .member__header {
            // margin-top: -20px;

            img {
                width: 100%;
            }
        }
        .member__body {
            // margin-top: -90px;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 15px 10px;
            background: #515151;
            color: var(--color_white);
            z-index: 100;
            text-align: center;
            

            h4 {
                font-size: 22px;
            }

            a {
                color: var(--color_white);
                text-decoration: underline;
                text-underline-position: under;
            }
        }
        .m1 {
            background: #9a89e0a5;
            transition: all 0.3s;

            &:hover {
                background-color: #9a89e0dc;
            }
        }
        .m2 {
            background: #eb4d4a8d;
            transition: all 0.3s;

            &:hover {
                background-color: #eb4d4aca;
            }
        }
        .m3 {
            background: #ffd6097f;
            transition: all 0.3s;

            &:hover {
                background-color: #ffd609cd;
            }
        }
        
    }
}