<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A-1</title>
</head>
<body>
    <div class="box">
        <header>
            <div class="header">
                <div class="logo">로고
                    <a href="#"><img src="..assets/img/seolhee.jpg" alt="로고"></a>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">MENU-1</a></li>
                    <li><a href="#">MENU-2</a></li>
                    <li><a href="#">MENU-3</a></li>
                    <li><a href="#">MENU-4</a></li>
                </ul>
                <div class="submenu">
                    <ul>
                        <li>
                            <p><a href="#">SubMenu-1</a></p>
                            <p><a href="#">SubMenu-2</a></p>
                            <p><a href="#">SubMenu-3</a></p>
                            <p><a href="#">SubMenu-4</a></p>
                        </li>
                        <li>
                            <p><a href="#">SubMenu-1</a></p>
                            <p><a href="#">SubMenu-2</a></p>
                            <p><a href="#">SubMenu-3</a></p>
                            <p><a href="#">SubMenu-4</a></p>
                        </li>
                        <li>
                            <p><a href="#">SubMenu-1</a></p>
                            <p><a href="#">SubMenu-2</a></p>
                            <p><a href="#">SubMenu-3</a></p>
                            <p><a href="#">SubMenu-4</a></p>
                        </li>
                        <li>
                            <p><a href="#">SubMenu-1</a></p>
                            <p><a href="#">SubMenu-2</a></p>
                            <p><a href="#">SubMenu-3</a></p>
                            <p><a href="#">SubMenu-4</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- header -->
        <section>
            <div id="slide_wrap">
                <div class="slide_box">
                    <ul>
                        <li><a href="#"><img src = "..assets/img/seolhee2_1.jpg" alt="슬라이드1"></a></li>
                        <li><a href="#"><img src = "..assets/img/seolhee2_2.jpg" alt="슬라이드2"></a></li>
                        <li><a href="#"><img src = "..assets/img/seolhee2_3.jpg" alt="슬라이드3"></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- 이미지 슬라이드 -->
        <article class="contents_box">
            <div class="notice_box">
                <ul class="tab_menu">
                    <li class="notice">
                        <a href="#">공지사항</a>
                        <div class="contents">
                            <ul>
                                <li id="popup_button">
                                    <div><a href="#">네번째 공지사항 입니다.</a><span>2023.03.18</span></div>
                                </li>
                                <li id="popup_button">
                                    <div><a href="#">세번쨰 공지사항 입니다.</a><span>2023.03.16</span></div>
                                </li>
                                <li id="popup_button">
                                    <div><a href="#">두번째 공지사항 입니다.</a><span>2023.03.14</span></div>
                                </li>
                                <li id="popup_button">
                                    <div><a href="#">첫번째 공지사항 입니다.</a><span>2023.03.12</span></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="gallery">
                        <a href="#">갤러리</a>
                        <div class="contents">
                            <ul>
                                <li><a href="#"><img src="#" alt="갤러리 사진1"></a></li>
                                <li><a href="#"><img src="#" alt="갤러리 사진2"></a></li>
                                <li><a href="#"><img src="#" alt="갤러리 사진3"></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </article>

        <!-- 공지사항 클릭시 팝업 -->
        <div class="popup">
            <div class="popup_body">
                <div class="popup_top">
                    <h2>타이틀</h2>
                    <p>
                        1<br>
                        2<br>
                        3<br>
                        4<br>
                        5<br>
                    </p>
                </div>
                <div class="popup_bottom">
                    <input type="button" class="팝업닫기" value="닫기" width="100px">
                </div>
            </div>
        </div>
        <!-- contents -->
        <footer></footer>
        <!-- footer -->
    </div>
    
</body>
</html>