@charset "UTF-8";

// setting
@import "./assets/scss/setting/fonts.scss";
@import "./assets/scss/setting/base.scss";
@import "./assets/scss/setting/mixins.scss";

// commons
@import "./assets/scss/common/common.scss";
